name: Lint and Test

on: 
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Lint and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ./env.yaml
          cache-environment-key: environment-dev
          cache-downloads-key: downloads-dev
          environment-name: ci

      - name: Run ruff linting
        shell: bash -el {0}
        run: |
          ruff check src/ tests/

      - name: Run mypy type checking
        shell: bash -el {0}
        run: |
          mypy src/ tests/

      - name: Run pytest
        shell: bash -el {0}
        run: |
          pytest